# Files
*.tlog
*.exe
*.o
*.so
*.lastbuildstate
*.out
*.log
*.recipe
*.exe
*.pdb
*.txt
*.obj
*.ipdb
*.iobj
*.opendb
*.db
*.suo
*.db-shm
*.db-wal
*.ipch
*.pyc

Test/
Debug/
Release/

# Pycache
__pycache__/
CLI/listeners/__pycache__/
CLI/listeners/non_staged/__pycache__/
CLI/methods/__pycache__/
CLI/utils/__pycache__/
